<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.traview.post">

	<insert id="insertPost" parameterType="PostVO">
		INSERT INTO POST(
			POST_SEQ,
			POST_INFO_ID,
			POST_TITLE,
			POST_CONTENTS,
			POST_DESCRIPTION,
			IS_MAIN,
			CREATE_DATE,
			CREATE_USER,
			USE_YN)
		VALUES(
			GET_SEQ('POST'),
			#{postInfoId},
			#{postTitle},
			#{postContents},
			#{postDescription},
			#{isMain},
			CURRENT_TIMESTAMP,
			#{createUser},
			'Y')
	</insert>
	
	<update id="updatePost" parameterType="PostVO">
		UPDATE POST 
		SET <if test="@common.Function@isNotEmpty(postInfoId)">
			POST_INFO_ID=#{postInfoId},</if><if test="@common.Function@isNotEmpty(postTitle)">
			POST_TITLE=#{postTitle},</if><if test="@common.Function@isNotEmpty(postContents)">
			POST_CONTENTS=#{postContents},</if><if test="@common.Function@isNotEmpty(postDescription)">
			POST_DESCRIPTION=#{postDescription},</if><if test="@common.Function@isNotEmpty(isMain)">
			IS_MAIN=#{isMain},</if><if test="@common.Function@isNotEmpty(useYn)">
			USE_YN=#{useYn},</if>
			UPDATE_DATE=CURRENT_TIMESTAMP,
			UPDATE_USER=#{updateUser}
		WHERE POST_SEQ=#{postSeq}
	</update>
	
	<delete id="deletePost" parameterType="PostVO">
		UPDATE POST  
		SET USE_YN='N' 
		WHERE POST_SEQ=#{postSeq}
	</delete>
	
	<select id="selectPost" parameterType="PostVO" resultType="PostVO"> /* selectPost userMapper.xml */
		SELECT 
			POST_SEQ AS postSeq,
			POST_INFO_ID AS postInfoId,
			POST_TITLE AS postTitle,
			POST_CONTENTS AS postContents,
			POST_DESCRIPTION AS postDescription,
			IS_MAIN AS isMain,
			CREATE_DATE AS createDate,
			CREATE_USER AS createUser,
			UPDATE_DATE AS updateDate,
			UPDATE_USER AS updateUser,
			USE_YN AS useYn
		FROM POST 
		WHERE POST_SEQ=#{postSeq}<if test="@common.Function@isNotEmpty(useYn)">
			AND USE_YN=#{useYn}</if>
	</select>
	
	<select id="selectPostList" parameterType="PostVO" resultType="PostVO"> /* selectPostList userMapper.xml */
		SELECT  
			POST_SEQ AS postSeq,
			POST_INFO_ID AS postInfoId,
			POST_TITLE AS postTitle,
			POST_CONTENTS AS postContents,
			POST_DESCRIPTION AS postDescription,
			IS_MAIN AS isMain,
			CREATE_DATE AS createDate,
			CREATE_USER AS createUser,
			UPDATE_DATE AS updateDate,
			UPDATE_USER AS updateUser,
			USE_YN AS useYn
		FROM POST 
		WHERE 1=1<if test="@common.Function@isNotEmpty(useYn)">
			AND USE_YN=#{useYn}</if>
	</select>
	
</mapper>
      