<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.traview.post">

	<insert id="insertPost" parameterType="PostVO">
		INSERT INTO POST (
			POST_ID,
			POST_PW,
			POST_NM,
			NICKNAME,
			BIRTHDAY,
			GENDER,
			EMAIL,
			PHONE,
			CREATE_DATE
		) VALUES (
			#{userId},
			#{userPw},
			#{userNm},
			#{nickname},
			#{birthday},
			#{gender},
			#{email},
			#{phone},
			CURRENT_TIMESTAMP
		)
	</insert>
	
	<update id="updatePost" parameterType="PostVO">
		UPDATE POST 
		SET <if test="@common.Function@isNotEmpty(userPw)">
			POST_PW=#{userPw},</if><if test="@common.Function@isNotEmpty(userNm)">
			POST_NM=#{userNm},</if><if test="@common.Function@isNotEmpty(nickname)">
			NICKNAME=#{nickname},</if><if test="@common.Function@isNotEmpty(birthday)">
			BIRTHDAY=#{birthday},</if><if test="@common.Function@isNotEmpty(gender)">
			GENDER=#{gender},</if><if test="@common.Function@isNotEmpty(email)">
			EMAIL=#{email},</if><if test="@common.Function@isNotEmpty(phone)">
			PHONE=#{phone},</if>
			UPDATE_DATE=CURRENT_TIMESTAMP
		WHERE POST_ID=#{userId}
	</update>
	
	<delete id="deletePost" parameterType="PostVO">
		UPDATE POST  
		SET USE_YN='N' 
		WHERE POST_ID = #{userId}
	</delete>
	
	<select id="selectPost" parameterType="PostVO" resultType="PostVO"> /* selectPost userMapper.xml */
		SELECT POST_ID AS userId,
			POST_PW AS userPw,
			POST_NM AS userNm,
			NICKNAME AS nickname,
			BIRTHDAY AS birthday,
			GENDER AS gender,
			EMAIL AS email,
			PHONE AS phone,
			CREATE_DATE AS createDate
		FROM POST 
		WHERE USE_YN='Y'
			AND POST_ID = #{userId}<if test="@common.Function@isNotEmpty(userPw)">
			AND POST_PW=#{userPw}</if>
	</select>
	
	<select id="selectPostList" parameterType="PostVO" resultType="PostVO"> /* selectPostList userMapper.xml */
		SELECT POST_ID AS userId,
			POST_PW AS userPw,
			POST_NM AS userNm,
			NICKNAME AS nickname,
			BIRTHDAY AS birthday,
			GENDER AS gender,
			EMAIL AS email,
			PHONE AS phone,
			CREATE_DATE AS createDate
		FROM POST 
		WHERE USE_YN='Y'
	</select>
	
</mapper>
      