<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.traview.user">

	<insert id="insertUser" parameterType="UserVO">
		INSERT INTO USER (
			USER_ID,
			USER_PW,
			USER_NM,
			NICKNAME,
			BIRTHDAY,
			GENDER,
			EMAIL,
			PHONE,
			CREATE_DATE
		) VALUES (
			#{userId},
			#{userPw},
			#{userNm},
			#{nickname},
			#{birthday},
			#{gender},
			#{email},
			#{phone},
			CURRENT_TIMESTAMP
		)
	</insert>
	
	<update id="updateUser" parameterType="UserVO">
		UPDATE USER 
		SET <if test="@common.Function@isNotEmpty(userPw)">
			USER_PW=#{userPw},</if><if test="@common.Function@isNotEmpty(userNm)">
			USER_NM=#{userNm},</if><if test="@common.Function@isNotEmpty(nickname)">
			NICKNAME=#{nickname},</if><if test="@common.Function@isNotEmpty(birthday)">
			BIRTHDAY=#{birthday},</if><if test="@common.Function@isNotEmpty(gender)">
			GENDER=#{gender},</if><if test="@common.Function@isNotEmpty(email)">
			EMAIL=#{email},</if><if test="@common.Function@isNotEmpty(phone)">
			PHONE=#{phone},</if>
			UPDATE_DATE=CURRENT_TIMESTAMP
		WHERE USER_ID=#{userId}
	</update>
	
	<delete id="deleteUser" parameterType="UserVO">
		UPDATE USER  
		SET USE_YN='N' 
		WHERE USER_ID=#{userId}
	</delete>
	
	<select id="selectUser" parameterType="UserVO" resultType="UserVO"> /* selectUser userMapper.xml */
		SELECT USER_ID AS userId,
			USER_PW AS userPw,
			USER_NM AS userNm,
			NICKNAME AS nickname,
			BIRTHDAY AS birthday,
			GENDER AS gender,
			EMAIL AS email,
			PHONE AS phone,
			CREATE_DATE AS createDate,
			UPDATE_DATE AS updateDate
		FROM USER 
		WHERE 1=1
			AND USER_ID=#{userId}<if test="@common.Function@isNotEmpty(userPw)">
			AND USER_PW=#{userPw}</if><if test="@common.Function@isNotEmpty(useYn)">
			AND USE_YN=#{useYn}</if>
	</select>
	
	<select id="selectUserList" parameterType="UserVO" resultType="UserVO"> /* selectUserList userMapper.xml */
		SELECT USER_ID AS userId,
			USER_PW AS userPw,
			USER_NM AS userNm,
			NICKNAME AS nickname,
			BIRTHDAY AS birthday,
			GENDER AS gender,
			EMAIL AS email,
			PHONE AS phone,
			CREATE_DATE AS createDate,
			UPDATE_DATE AS updateDate
		FROM USER 
		WHERE 1=1<if test="@common.Function@isNotEmpty(useYn)">
			AND USE_YN=#{useYn}</if>
	</select>
	
</mapper>
      