<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="com.traview.vo.UserVO" alias="UserVO"/> 
        <typeAlias type="com.traview.vo.PostVO" alias="PostVO"/>     
    </typeAliases>

<!--     <mappers> -->
<!--         <mapper resource="/mappers/homeMapper.xml" /> -->
<!--         <mapper resource="/mappers/userMapper.xml" /> -->
<!--         <mapper resource="/mappers/postMapper.xml" /> -->
<!--     </mappers> -->

</configuration>
        